{{ define "content" }}

<div class="grid grid-cols-12 gap-2">
  <div class="flex flex-col col-span-9">
    <span class="bg-base-200 px-2 py-1.5 rounded-lg text-md">Clusters</span>
    <div class="mt-2 p-2">
      <div id="cluster-list">
        {{ range .AddedClusters }}
          <div id="cluster-card-{{ .Alias }}" class="border rounded-lg p-2 mb-6 shadow-md">
            <div class="flex justify-between items-center">
              <span class="text-lg">
                <span>{{ .Alias }}</span> <span class="text-sm">({{ .Name }})</span>
              </span>
              <div class="flex">
                <form
                  hx-post="/api/config/clusters/{{ .Alias }}/sync_secrets"
                >
                  <button class="btn btn-sm mr-2 bg-white">
                    <svg class="h-4 w-4">
                      <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                      <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                    </svg>
                    Sync
                  </button>
                </form>
                <button
                  class="btn btn-sm bg-red-200 hover:bg-red-300"
                  type="button"
                  hx-confirm="Are you sure?"
                  hx-post="/api/config/clusters/{{ .Alias }}/delete"
                  hx-target="#cluster-card-{{ .Alias }}"
                  hx-swap="outerHTML swap:1s"
                >
                  <svg class="h-4 w-4">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </button>
              </div>
            </div>
            <hr class="my-2" />
            <form
              hx-post="/api/config/clusters/{{ .Alias }}/enable_secrets"
            >
              <div>
                <div class="flex justify-between items-center mb-2">
                  <span class="text-lg">
                    <span>Secrets</span>
                  </span>
                </div>
                <div class="mb-2">
                  <select id="secrets-select_{{ .Alias }}" class="w-full p-2 border rounded-lg h-10" name="secrets" multiple="multiple">
                    {{ range .AllSecrets }}
                      <option value="{{ .Name }}">{{ .Name }}</option>
                    {{ end }}
                  </select>
                </div>
                <div class="flex justify-end items-center">
                  <button class="btn btn-sm bg-white">
                    <svg class="h-4 w-4" class="bi bi-floppy">
                      <path d="M11 2H9v3h2z"/>
                      <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                    </svg>
                    Save
                  </button>
                </div>
              </div>
            </form>

            <script>
              $(document).ready(function() {
                var alias = "{{ .Alias }}"

                $(`#secrets-select_${alias}`).select2({
                    placeholder: "Enable secrets",
                    tags: true,
                })

                var activeSecrets = []

                {{ range .RegisteredSecrets }}
                  activeSecrets.push("{{ .Name }}")
                {{ end }}

                $(`#secrets-select_${alias}`).val(activeSecrets).trigger('change')
              })
            </script>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="flex flex-col col-span-3" style="margin-top: -8px">
    <div class="flex flex-col sticky top-0 pt-2 overflow-auto h-screen pb-16">
      <span class="bg-base-200 px-2 py-1.5 rounded-lg text-md">Setup Config</span>
      <div class="p-2 mb-3 text-sm">
        <form hx-post="/api/config/controller" hx-target="#controller-update-response" hx-swap="innerHtml">
          <div class="mb-2">Controller Name <span class="text-xs text-red-500">*</span></div>
          <div class="mb-3">
            <input
              type="text"
              id="controller-name"
              name="controller-name"
              class="w-full p-2 border rounded-lg h-10"
              placeholder="sealed-secrets"
              value="{{.ControllerName}}"
            />
          </div>
          <div class="mb-2">Controller Namespace <span class="text-xs text-red-500">*</span></div>
          <div class="mb-3">
            <input
              type="text"
              id="controller-namespace"
              name="controller-namespace"
              class="w-full p-2 border rounded-lg h-10"
              placeholder="kubeseal"
              value="{{.ControllerNamespace}}"
            />
          </div>
          <div class="flex justify-end">
            <button class="btn btn-sm bg-white">
              <svg class="h-4 w-4" class="bi bi-floppy">
                <path d="M11 2H9v3h2z"/>
                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
              </svg>
              Save
            </button>
          </div>
          <div id="controller-update-response" class="mt-2"></div>
        </form>
      </div>

      <span class="bg-base-200 p-2 rounded-lg text-md">Register Cluster</span>
      <div class="p-2 mb-3 text-sm">
        <form hx-post="/api/config/clusters/add" hx-target="#cluster-add-response" hx-swap="innerHtml">
          <div class="">
            <div class="mb-2">Cluster <span class="text-xs text-red-500">*</span></div>
            <div class="w-full mb-2">
              <select id="cluster-select" name="cluster-select" class="w-full p-2 border rounded-lg h-10">
                {{range .Clusters}}
                  <option value="{{.}}">{{.}}</option>
                {{end}}
              </select>
            </div>
            <div class="mb-2">Alias <span class="text-xs text-red-500">*</span></div>
            <div class="mb-3">
              <input type="text" id="cluster-alias" name="cluster-alias" class="w-full p-2 border rounded-lg h-10" placeholder="sg-integration" />
            </div>
            <div class="flex justify-end">
              <button class="btn btn-sm bg-white" type="submit">
                <svg class="h-4 w-4">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Add
              </button>
            </div>
          </div>
          <div id="cluster-add-response" class="mt-2"></div>
        </form>
      </div>

      <!-- git_provider
      gitlab_access_token
      private_key_path
      tmp_folder_path
      repo_url
      repo_http_url -->
      <span class="bg-base-200 p-2 rounded-lg text-md">Git Integration Conf</span>
      <div class="p-2 mb-3 text-sm">
        <form hx-post="/api/config/git_integration" hx-target="#git-integration-config-response" hx-swap="innerHtml">
          <div class="">
            <div class="mb-2">Git Provider</div>
            <div class="mb-3">
              <input
                type="text"
                id="git_conf_git_provider"
                name="git_conf_git_provider"
                class="w-full p-2 border rounded-lg h-10"
                placeholder="gitlab"
                value="{{ .GitConf.GitProvider }}"
              />
            </div>
            <div class="mb-2">Gitlab Access Token</div>
            <div class="mb-3">
              <input
                type="text"
                id="git_conf_gitlab_access_token"
                name="git_conf_gitlab_access_token"
                class="w-full p-2 border rounded-lg h-10"
                placeholder="your-gitlab-access-token-here"
                value="{{ .GitConf.GitlabAccessToken }}"
              />
            </div>
            <div class="mb-2">Private Key Path</div>
            <div class="mb-3">
              <input
                type="text"
                id="git_conf_private_key_path"
                name="git_conf_private_key_path"
                class="w-full p-2 border rounded-lg h-10"
                placeholder="/Users/jhonedoe/.ssh/id_rsa"
                value="{{ .GitConf.PrivateKeyPath }}"
              />
            </div>
            <div class="mb-2">Tmp Folder Path</div>
            <div class="mb-3">
              <input
                type="text"
                id="git_conf_tmp_folder_path"
                name="git_conf_tmp_folder_path"
                class="w-full p-2 border rounded-lg h-10"
                placeholder="tmp/go-kube-seal-temp-git"
                value="{{ .GitConf.TmpFolderPath }}"
              />
            </div>
            <div class="mb-2">Repo URL</div>
            <div class="mb-3">
              <input
                type="text"
                id="git_conf_repo_url"
                name="git_conf_repo_url"
                class="w-full p-2 border rounded-lg h-10"
                placeholder="git@github:user/env-repo.git"
                value="{{ .GitConf.RepoUrl }}"
              />
            </div>
            <div class="mb-2">Repo HTTP URL</div>
            <div class="mb-3">
              <input
                type="text"
                id="git_conf_repo_http_url"
                name="git_conf_repo_http_url"
                class="w-full p-2 border rounded-lg h-10"
                placeholder="https://github.com/user/env-repo"
                value="{{ .GitConf.RepoHttpUrl }}"
              />
            </div>
            <div class="flex justify-end items-center">
              <button class="btn btn-sm bg-white">
                <svg class="h-4 w-4" class="bi bi-floppy">
                  <path d="M11 2H9v3h2z"/>
                  <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                </svg>
                Save
              </button>
            </div>
          </div>
          <div id="git-integration-config-response" class="mt-2"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#cluster-select').select2({
      placeholder: "Select Secret",
    })
    $("#cluster-select").val('').change()
  })
</script>

{{ end }}
