{{ define "content" }}

<div class="grid grid-cols-12 gap-2">
  <div class="flex flex-col col-span-9">
    <span class="bg-base-200 px-2 py-1.5 rounded-lg text-md">Secrets</span>
    <div class="p-2 pt-0">
      <div id="cluster-list">
        <div class="w-full flex justify-center mb-2 sticky top-0 z-40 pt-2">
          <div class="join shadow-md">
            <div class="tooltip" data-tip="value on editor will be sealed upon submit">
              <input class="join-item btn btn-sm" type="radio" name="active_tab" aria-label="Editor" id="btc_sec_editor" value="btc_sec_editor" checked="checked" />
            </div>
            <div class="tooltip" data-tip="show diff between existing secret and the new secret">
              <input class="join-item btn btn-sm" type="radio" name="active_tab" aria-label="Diff" id="btc_sec_diff" value="btc_sec_diff" />
            </div>
            <div class="tooltip" data-tip="a sealed secret result from the editor value">
              <input class="join-item btn btn-sm" type="radio" name="active_tab" aria-label="Result" id="btc_sec_result" value="btc_sec_result" />
            </div>
            <div class="tooltip" data-tip="a sealed secret diff result from the editor value">
              <input class="join-item btn btn-sm" type="radio" name="active_tab" aria-label="Result Diff" id="btc_sec_result_diff" value="btc_sec_result_diff" />
            </div>
            <div class="tooltip" data-tip="selaed secret with common name to be used on historical log">
              <input class="join-item btn btn-sm" type="radio" name="active_tab" aria-label="Preview" id="btc_sec_preview" value="btc_sec_preview" />
            </div>
            <div class="tooltip" data-tip="selaed secret of diff with common name to be used on historical log">
              <input class="join-item btn btn-sm" type="radio" name="active_tab" aria-label="Preview Diff" id="btc_sec_preview_diff" value="btc_sec_preview_diff" />
            </div>
          </div>
        </div>

        <div class="rounded-lg overflow-hidden border shadow-md mb-8">
          <div id="ace_seal_raw" class="w-full"></div>
          <div id="ace_diff" class="w-full hidden">
            <table id="dataTable" class="table w-full">
              <thead class="">
                <tr class="">
                  <th class="p-1">Key</th>
                  <th class="p-1">Old Value</th>
                  <th class="p-1">New Value</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div id="ace_seal_sealed" class="w-full hidden">ace_seal_sealed</div>
          <div id="ace_seal_diff_sealed" class="w-full hidden">ace_seal_diff_sealed</div>
          <div id="ace_seal_preview_sealed" class="w-full hidden">ace_seal_preview_sealed</div>
          <div id="ace_seal_preview_diff_sealed" class="w-full hidden">ace_seal_preview_diff_sealed</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col col-span-3" style="margin-top: -8px">
    <div class="flex flex-col sticky top-0 pt-2">
      <span class="bg-base-200 px-2 py-1.5 rounded-lg text-md">Action</span>
      <div class="p-2 mb-3">
        <div class="mb-2">Cluster <span class="text-xs text-red-500">*</span></div>
        <div class="w-full mb-2">
          <select id="cluster-select" name="cluster-select" class="w-full p-2 border rounded-lg h-10">
            {{range .Clusters}}
              <option value="{{.}}">{{.}}</option>
            {{end}}
          </select>
        </div>
        <div class="mb-2 mb-2">Secrets</div>
        <div class="w-full mb-2">
          <select id="secret-select" name="cluster-select" class="w-full p-2 border rounded-lg h-10">
          </select>
        </div>
        <div class="flex justify-end mb-2">
          <button class="btn btn-sm bg-white" onclick="readSecret()">
            <svg class="h-4 w-4">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
            Read Secret
          </button>
        </div>
        <div class="mb-2">Secret Name</div>
        <div class="mb-2">
          <input
            type="text"
            id="input_secret_name"
            name="input_secret_name"
            class="w-full p-2 border rounded-lg h-10"
            placeholder="backend-app"
            value=""
          />
        </div>
        <div class="flex justify-end">
          <button class="btn btn-sm bg-white" onclick="execSeal()">
            <svg class="h-4 w-4">
              <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
              <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/>
            </svg>
            Seal
          </button>
        </div>
      </div>

      <div class="flex justify-between items-center bg-base-200 p-2 rounded-lg text-md w-full">
        <span>Git Integration</span>

        <div class="tooltip tooltip-left" data-tip="TBA">
          <button class="btn btn-xs">
            i
          </button>
        </div>
      </div>
      <div class="p-2">
      </div>
    </div>
  </div>

  <!-- REF: https://github.com/ajaxorg/ace -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
  <script>
    async function readSecret() {
      if (!$('#cluster-select').val()) {
        alert("Please select cluster first")
        return
      }

      if (!$('#secret-select').val()) {
        alert("Please select secret first")
        return
      }

      try {
        const response = await fetch(
          `/api/kubectl/${$('#cluster-select').val()}/secret/${$('#secret-select').val()}/read`,
          { method: 'GET' }
        )

        if (!response.ok) {
          throw new Error(`Error: ${response.status} - ${response.statusText}`)
        }

        const data = await response.text()
        ace_seal_raw.setValue(data, -1)

      } catch (error) {
        alert(`ERROR: ${error.message}`)
      }
    }

    async function execSeal() {
      var bodyData = JSON.stringify({
        app: $('#input_secret_name').val(),
        yaml_value: ace_seal_raw.getValue(),
      })

      try {
        const response = await fetch(`/api/kubectl/${$('#cluster-select').val()}/secret/seal`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: bodyData,
        })

        if (!response.ok) {
          const data = await response.text()

          throw new Error(`Error: ${response.status} - ${data}`)
        }

        const data = await response.text()
        ace_seal_sealed.setValue(data, -1)

        $("#btc_sec_result").prop("checked", true)
        toggle_ace_section("btc_sec_result")

      } catch (error) {
        alert(`ERROR: ${error.message}`)
      }
    }
  </script>
  <script>
    var ace_seal_raw = ace.edit("ace_seal_raw")
    ace_set_default(ace_seal_raw)

    var ace_seal_sealed = ace.edit("ace_seal_sealed")
    ace_set_default(ace_seal_sealed)

    var ace_seal_diff_sealed = ace.edit("ace_seal_diff_sealed")
    ace_set_default(ace_seal_diff_sealed)

    var ace_seal_preview_sealed = ace.edit("ace_seal_preview_sealed")
    ace_set_default(ace_seal_preview_sealed)

    var ace_seal_preview_diff_sealed = ace.edit("ace_seal_preview_diff_sealed")
    ace_set_default(ace_seal_preview_diff_sealed)

    function ace_set_default(ace_editor) {
      ace_editor.setOptions({
        maxLines: Infinity
      })
      ace_editor.getSession().setMode("ace/mode/yaml")
      ace_editor.getSession().setTabSize(2)
      ace_editor.getSession().setUseSoftTabs(true)
      ace_editor.getSession().setUseWrapMode(true)
      ace_editor.setTheme("ace/theme/textmate")
      ace_editor.setValue(`apiVersion: v1
kind: Secret
metadata:
  name: your-app-name
data:
  KEY_1: VALUE_1
  KEY_2: VALUE_2`, -1)
    }

    $('input[name="active_tab"]').on('click change', function(e) {
      var active_tab = e.currentTarget.getAttribute("value")
      toggle_ace_section(active_tab)
    })

    function toggle_ace_section(activeID) {
      $("#ace_seal_raw").addClass("hidden")
      $("#ace_diff").addClass("hidden")
      $("#ace_seal_sealed").addClass("hidden")
      $("#ace_seal_diff_sealed").addClass("hidden")
      $("#ace_seal_preview_sealed").addClass("hidden")
      $("#ace_seal_preview_diff_sealed").addClass("hidden")

      var btn_to_tab_map = {
        "btc_sec_editor": "ace_seal_raw",
        "btc_sec_diff": "ace_diff",
        "btc_sec_result": "ace_seal_sealed",
        "btc_sec_result_diff": "ace_seal_diff_sealed",
        "btc_sec_preview": "ace_seal_preview_sealed",
        "btc_sec_preview_diff": "ace_seal_preview_diff_sealed",
      }

      $(`#${btn_to_tab_map[activeID]}`).removeClass("hidden")
    }
  </script>
  <script>
    $(document).ready(function() {
      $('#cluster-select').select2({
        placeholder: "Select Cluster",
      })
      $("#cluster-select").val('').change()

      $('#secret-select').select2({
        placeholder: "Select Secret",
      })
    })
  </script>
  <script>
    $(document).ready(function() {
      var clusterSecretMap = '{{ .ClusterSecretMap }}'
      var clusterSecretMapObj = JSON.parse(clusterSecretMap)

      $('#cluster-select').on('select2:select', function (e) {
        var data = e.params.data

        var secrets = clusterSecretMapObj[data.id]

        $('#secret-select').select2('data', null)
        secrets.forEach(oneSecret => {
          var newOption = new Option(oneSecret, oneSecret, true, true)
          $('#secret-select').append(newOption)
        })
        $("#secret-select").val('').change()
      })

      $('#secret-select').on('select2:select', function (e) {
        var data = e.params.data

        $('#input_secret_name').val(data.id)
      })
    })
  </script>
</div>

{{ end }}
